{% extends 'partials/base.html' %}
{% block title %}Post Detail Page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <small>{{ post.date_created }}</small>
                            {% if post.author == request.user %}
                            <span><a class="btn btn-danger float-right btn-sm"
                                    href="{% url 'blog-post-delete' post.id %}">Delete</a></span>
                            <span><a class="btn btn-primary mx-2 float-right btn-sm"
                                    href="{% url 'blog-post-edit' post.id %}">Edit</a></span>
                            {% endif %}
                            <hr>
                            <h4 class="h4">{{ post.title }}</h4>
                            <p class="p">
                                {{ post.content }}
                            </p>
                        </div>
                    </div>
                    {% if request.user.is_authenticated %}
                    <form method="POST">
                        {% csrf_token %}
                        <div >
                            {{ c_form|crispy }}
                            <button class="btn btn-primary btn-md" type="submit" >Comment</button>
                        </div>
                    </form>
                    {% else%}
                    <h6>Login to Add Comments</h6>
                    <hr>
                    {% endif %}
                    <h4>Comments</h4>
                    <div class="row">
                        <div style="height: 180px; overflow-y: scroll;" class="card card-body">
                            {% for comment in post.comments %}
                            <div class="row pt-0">
                                <div class="col-md-2 p-0 m-0">
                                    {{ comment.user.username }}
                                </div>
                                <div class="col p-0 m-0">
                                    {{ comment.content }}
                                </div>
                            </div>
                            <hr>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}