.cover{
    background: url('/media/background.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}
body {
    background-image: url('/static/media/new_bg.jpg'); 
    background-size: cover;       
    background-repeat: no-repeat; 
    background-position: center;  
}
